.table,
th,
td {
  border: 1px solid black;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-width: 2px;
  table-layout: fixed;
}

.table > thead {
  background-color: #222222;
  color: azure;
  font-weight: 500;
  th {
    padding: 8px 0;
  }
}

.tableRow > td:first-child {
  text-transform: capitalize;
  text-align: start;
  padding: 8px 0;
  padding-left: 50px;
  max-width: 33%;
}

.tableRow:nth-child(2n) {
  background-color: #3a3a3a46;
}
